body{
    margin: auto;
    width: 70%;

}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    margin: auto    ;
}


.footer{
    text-align: center;
    color: rgb(99, 102, 104);
    padding: 2rem;
}